<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eight Wonders</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Work+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/autocomplete.css">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌎</text></svg>">
</head>
<body>
  <nav>
    <div id="logo">
      <a href="/">EIGHT WONDERS</a>
    </div>
    <div id="nav-links">
      <ul>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    <div>
  </nav>

  <aside>
    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>

    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>
  </aside>
  
  <main>
    <%== yield %>
  </main>

  <footer>
    <p>EIGHT WONDERS is a fictional travel agency.</p>
    <p>Built with fundamentals from 
       <a href="https://www.launchschool.com/" target="_blank">Launch School 🚀</a>
    </p>
    <p>
      Attributions: <a href="https://storyset.com/travel" target="_blank">Storyset</a>, 
      Unsplash <a href="https://unsplash.com/photos/-iBOhlbX32s" target="_blank">1</a
      >,<a href="https://unsplash.com/photos/wZjJxOx8FPI" target="_blank">2</a
      >,<a href="https://unsplash.com/photos/j-8u_d-Oeo0" target="_blank">3</a
      >,<a href="https://unsplash.com/photos/8A496IhZ47A" target="_blank">4</a
      >,<a href="https://unsplash.com/photos/dy4QG5c5xWQ" target="_blank">5</a
      >,<a href="https://unsplash.com/photos/KMn4VEeEPR8" target="_blank">6</a
      >,<a href="https://unsplash.com/photos/rknrvCrfS1k" target="_blank">7</a
      >,<a href="https://unsplash.com/photos/XGKaRnWjv1c" target="_blank">8</a>
    </p>
  </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
<script src="/javascript/autocomplete_config.js"></script>
<script src="/javascript/app.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script>feather.replace()</script>
</html>